<h1>Planos</h1>

<ul>
<% @planos.each do |plano| %>
    <li class="arrow"><%= link_to plano.data, user_plano_path(@user,plano) %></li>
<% end %>
</ul>

<%= link_to 'Voltar', new_session_path, :class => "btn primary" %>
