<div class="mobile-content">

<h3>Planos</h3>

<table class="zebra-striped">
<% @planos.each do |plano| %>

<tr>
	<td class="mobile">
		<%= link_to user_plano_path(@user,plano) do %> <div class="mobile-cell"><%= plano.data %></div><% end %>
	</td>
</tr>

<% end %>
</table>

<%= link_to 'Voltar', new_session_path, :class => "btn primary" %>

</div>