<div class="span14">
  <h1>Editar Estúdio</h1>

    <%= render 'form' %>
    <%= link_to 'Ver Estúdio', ginasio_estudio_path(params[:ginasio_id],@estudio), :class => "btn primary" %>
    <%= link_to 'Cancelar', ginasio_estudios_path(params[:ginasio_id]), :class => "btn danger" %>
  </div>
</div>
