<div class="span14">
  <h1>Editar Exercício</h1>

  <%= render 'form' %>

    <%= link_to 'Cancelar', @exercicio, :class => "btn danger" %>
    <%= link_to 'Listar Exercícios', exercicios_path, :class => "btn primary" %>
  </div>
</div>

