<h1>Editar Notificação</h1>

<%= render 'form' %>

  <%= link_to 'Cancelar', @notificacao, :class => "btn danger" %>
  <%= link_to 'Ver Notificações', notificacaos_path, :class => "btn primary" %>

</div>
