body {
  padding-top: 40px; /* used to fix bootstrap topbar */
}

.right-align {
  text-align: right;
}

.topSpacing0 {
  margin-top: 100px;
}

input.small-lborder, select.small-lborder {
  margin-left: 15px;
}

/* ******************************************************** */
/* parte do miller                                          */
/* (tambem andei a alterar coisas aqui, por isso cuidado)   */

#page {
	width: 970px;
	margin: 0 auto;
}

#login {
	float:right;
}

#top {
	color: #ccc;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	margin: 0 0 0 0;
	padding: 5px 0px 5px 0px;
}

#remember {
	float: left;
	padding: 5px 10px 5px 10px;
	margin: 5px 0 0 0;
}

#login_btn{
	background: #B00A0A url(../images/redbg.gif) repeat-x left bottom;
	color: #FFF;
	padding: 5px 10px 5px 10px;
	margin: 5px 0 0 0;
	border: none;
	font-weight: bold;
	float: right;
	font-size:11px;
	
}

#logo {
  width: 970px;
  float: left;
  padding: 20px 5px 15px;
  margin: 0px 0 20px;
}

#menu {
	float: left;
}

#menu li{
	list-style:none;
	font-size: 1.3em;
	font-weight: normal;
	margin: 0 0 15px;
	padding: 6px 20px 6px 20px;
	width: 150px;
}

#menu a li.parent {
	background: #B00A0A url(../images/redbg.gif) repeat-x left bottom;
}

#menu a li.parent, #menu a li.current{
	color: #FFF;
	display: block;
}

#menu li.child a{
	color: #000;
}

#menu li.child a:hover, #menu li.child a:focus{
	border-bottom: 1px solid #ddd;
}

#menu a li.parent:hover, #menu a li.current, #menu a li.parent:focus {
	background: #000
}

#content {
  width: 970px;
  float: right;

  line-height: 1.64em;
  text-align: justify;
}

#content-text {
  float: right;
  width: 720px;
}

#profile {
  float: right;
  width: 720px;
}

#profile img{
	height: 220;
	width: 190;
	float: right;
	margin-bottom: 20px;
}

#info{
  float: left;
  margin-top: 10px;
  line-height: 2.5em;
  width: 100%;
}


#pitch {
  height: 210px;
  float: left;
  background: url(../images/photo1.jpg) no-repeat right top;
  padding: 30px 350px 0 0;
  border-bottom: 1px solid #ddd;
  margin: 0 0 35px;
}

#pitch h1 {
  font-size: 2.6em;
  color: #000;
  margin: 0 0 20px;
}

#pitch h2 { line-height: 1.5em; font-size: 19px;}
	.left { float: left; width: 250px; }	
	.right { float: right; width: 630px; margin: 0 0 20px; }
		.right h3 { background: #808080; font-size: .84em; }
	.third { float: left; width: 296px;; margin: 0 40px 20px 0; }
		.last { margin-right: 0; }
		
#footer {
	width: 100%;
	background-color: #AAAAAA;
	overflow:hidden;
	padding: 20px 0 20px 0;
}

#footer-info {
	float: left;
	margin-left: 12%;
}

#footer-social {
	float: right;
	margin-right: 13%;
}

#footer li {
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

#footer li a{
	color: #696969;
	text-decoration:none;
	text-shadow: 1px 1px 0px #C0C0C0;
	
}

#footer li a:hover{
	color: #D3D3D3;
	text-decoration:none;
	text-shadow: 1px 1px 0px #808080;
	
}

#flash_notice{
    color:green;
}

#flash_alert{
    color:red;
}
