body {
  padding-top: 40px; /* used to fix bootstrap topbar */
  padding-bottom: 40px; /* used to fix bottombar */
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.row address {
  margin-top: 8px;
}

.topSpacing0 {
  margin-top: 100px;
}

.topSpacing1 {
  margin-top: 50px;
}

.topSpacing2 {
  margin-top: 25px;
}

input.small-lborder, select.small-lborder {
  margin-left: 15px;
}

.no-resize {
  resize: none;
}

.vertical-resize {
  resize: vertical;
}

.spaced-lines {
  line-height: 2.5em;
}

#lorem-ipsum {
  line-height: 1.64em;
  text-align: justify;
}

#profile-photo {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

/********************************/
footer {
  width: 100%;
  background-color: #676767;
  overflow: hidden;
  padding: 10px 0 10px 0;
}

#footer-info {
  float: left;
}

#footer-social {
  float: right;
}

footer[class="bottombar"] ul {
  margin: 0px;
}

footer[class="bottombar"] li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
	
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

footer[class="bottombar"] li a {
  color: #CCC;
  text-decoration: none;
  /*text-shadow: 1px 1px 0px #C0C0C0;	*/
}

footer[class="bottombar"] li a:hover {
  color: #D3D3D3;
  text-decoration: none;
  text-shadow: 1px 1px 0px #808080;	
}

/* ******************************************************** */
/* parte do miller                                          */

#logo {
  width: 970px;
  float: left;
  padding: 20px 5px 15px;
  margin: 0px 0 20px;
}

/* menu */
.sidebar2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  width: 220px;
  margin-top: 50px;
}

.sidebar2 ul { margin:0px; padding:0px; }
.sidebar2 li { list-style: none; } 

ul.top-level {
  background: #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.sidebar2 a {
  color: #343434;
  cursor: pointer;
  display:block;
  height:25px;
  line-height: 25px;
  text-indent: 10px;
  text-decoration:none;
/*  width:100%;*/
  padding: 10px 0px 10px 20px;
  text-shadow: 0px -1px 3px #ddd;
}

.sidebar2 li:hover {
  background: #343434;
  position: relative;
  background-color: #343434;
}

.sidebar2 li:hover a {
 text-decoration:none;
 color: #cccccc;
 text-shadow: 0px -2px 0px #333,
               0px 2px 3px #666;
}

.sidebar2 li.more:hover {
  background-image: url('../images/SpryMenuBarRightHover.gif');
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

ul.sub-level {
  display: none;
}

li:hover .sub-level {
  border: #fff solid;
  border-width: 1px;
  display: block;
  position: absolute;
  left: 220px;
  top: -1px;
}

ul.sub-level li {
  border: none;
  float:left;
  width:200px;
  border-bottom: #fff solid;
  border-width: 1px;
}

/*Seconda Level*/
.sidebar2 .sub-level {
  background-color: #676767;
}

.sidebar2 ul.sub-level li a {
  color: #cccccc;
  text-shadow: 0px 2px 3px #555;
}

