<div class="mobile-content">
  <h3>Meus Planos Alimentares</h3>
  
  <table class="zebra-striped">
    <tr>
      <th>Data</th>
    </tr>

	<% if @alimentar_planos.empty? %>
      <tr>
        <td colspan="10">&lt;Utilizador não tem planos alimentares.&gt;</td>
      </tr>
    <% else %>
      <% @alimentar_planos.each do |alimentar_plano| %>
      <tr>
		<td class="mobile">
			<%=link_to user_alimentar_plano_path(@user,alimentar_plano) do %> <div class="mobile-cell"><%= alimentar_plano.data %></div><% end %>
		</td>
      </tr>
      <% end %>
    <% end %>

  </table>

  <%= link_to 'Voltar', user_path(current_user), :class => "btn primary" %>
</div>