
  <h1>Modalidades</h1>

  <table class="zebra-striped">
    <tr>
      <th>Nome</th>
    </tr>

  <% @tipo_aulas.each do |tipo_aula| %>
    <tr>
      <td><%= link_to tipo_aula.tipo, tipo_aula %></td>
    </tr>
  <% end %>
  </table>
  
  <%= link_to 'Voltar', new_session_path, :class => "btn primary" %>

