  <div class="mobile-content">
  
  <h3>Modalidades</h3>

  <table class="zebra-striped">
  <% @tipo_aulas.each do |tipo_aula| %>
    <tr>
      <td class="mobile"><%= link_to tipo_aula do %><div class="mobile-cell"><%= tipo_aula.tipo %></div><% end %></td>
    </tr>
  <% end %>
  </table>
  
  <%= link_to 'Voltar', new_session_path, :class => "btn primary" %>

</div>