  <div class="mobile-content">

  <h3> <%= @tipo_aula.tipo %> </h3> </br>

  <p> <strong>Descrição:</strong> </p>
  <p> <%= @tipo_aula.descricao %> </p>

  	<% if !@tipo_aula.video_id.blank? %>
		<iframe width="200" height="200" src="http://www.youtube.com/embed/<%=@tipo_aula.video_id%>" frameborder="0" allowfullscreen>
		</iframe>
	<% end %>

  <%= link_to 'Voltar', :back, :class => "btn primary" %>

  </div>
