<div class="span14">
  <h1>Editar Ginásio</h1>

  <%= render 'form' %>

    <%= link_to 'Ver Ginásio', @ginasio, :class => "btn primary" %>
    <%= link_to 'Cancelar', ginasios_path, :class => "btn danger" %>
  </div>
</div>
