  <h1>Lista de Ginásios</h1>

  <strong>Cidade</strong>
  <div class="span6">
	<%= collection_select("", "cidade", Cidade.all, :id, :nome, {}, { :class => "span3 no-resize" }) %>
  </div>
  
  <strong>Distancia</strong>
  <%= text_field_tag :distancia, '50', :class => "span1 no-resize" %> km

  <table id="ginasios">
    <tr>
      <th>Nome</th>
    </tr>
  </table>

<%= link_to 'Voltar', new_session_path, :class => "btn primary" %>