<div class="mobile-content">
<h3>Ginásios</h3>

<table class="zebra-striped">
	<% @ginasios.each do |ginasio| %>
      <tr>
        <td class="mobile">
		<%= link_to ginasio do %>
		<div class="mobile-cell">
			<%= ginasio.nome %>
		</div>
		<% end %>
		</td>
      </tr>
      <% end %>
</table>

<%= link_to 'Voltar', new_session_path, :class => "btn primary" %>

</div>