<div class="span14">
  <h1>Pedidos de Novo Plano</h1>

  <table class="zebra-striped">
    <tr>
      <th>Utilizador</th>
      <th>Data de criação do pedido</th>
      <th></th>
      <th></th>
    </tr>

  <% @pedidos.each do |pedido| %>
    <tr>
      <td><%= pedido.user.nome %></td>
      <td><%= pedido.data_pedido.strftime("%Y/%m/%d") %></td>
      <td><a href="#">Criar novo Plano</a></td>
      <td><a href="#">Apagar</a></td>
    </tr>
  <% end %>
  </table>

  <div class="actions topSpacing1">
  </div>
</div>
