<div class="span14">
  <h1>Pedidos de Novo Plano</h1>

  <table class="zebra-striped">
    <tr>
      <th>Utilizador</th>
      <th>Data de criação do pedido</th>
      <th></th>
      <th></th>
    </tr>

  <% @pedidos.each do |pedido| %>

    <% if current_user.staff? && current_user.id == pedido.ginasio_id %>
      <tr>
        <td><%= pedido.user.nome %></td>
        <td><%= pedido.data_pedido.strftime("%Y/%m/%d") %></td>
        <td><a href="#">Criar novo Plano</a></td>
        <td><a href="#">Apagar</a></td>
      </tr>
    <% end %>
  <% end %>
  </table>

  <div class="actions topSpacing1">
  </div>
</div>
