Bem vindo ao FiT, <%= @user.nome %>
===============================================
 
Foi registado com sucesso no melhor ginásio de sempre.
Comece a usar todo o potencial deste ginásio aqui: <a href="<%=@url%>"> <%= @url %> </a>.
 
Tenha um bom dia!

