<div class="span3">
  <%= text_field_tag :mes, params[:mes], :id => "mes", :class => "span1" %> /

  <%= text_field_tag :ano, params[:ano], :id => "ano", :class => "span1" %>

  <%= collection_select("", "taid", TipoAula.all, :id, :tipo, {}, {  :class => "span6 no-resize" }) %>
</div>




<div id = "estatisticas">
<div id = "modalidade">  </div>
<div id = "modalidade_semana">  </div>

</div>
